@import '../../styles/global';

.content {
    color: $mainColor;
    text-align: center;
    font-size: 1.6em;
    animation: fadeIn 0.3s linear forwards;
    margin-right: 20vw;
    margin-left: 20vw;
    margin-top: 25vh;
    p{
        font-weight: bold;
    }
}

@media (max-width: 900px){
    .content{
        margin-right: 10vw;
        margin-left: 10vw;
    }
}

@media (max-width: 500px){
    .content{
        margin-right: 5vw;
        margin-left: 5vw;
    }
}

@media (max-height: 600px){
    .content{
        margin-top: 15vh;
    }
}

@media (max-height: 400px){
    .content{
        font-size: 1.2em;
    }
}

@media (max-height: 300px){
    .content{
        font-size: 1em;
        margin-top: 7vh;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}