@import '../../styles/global';

.menu {
    //font-family: "Play";
    font-weight: bold;
    font-size: large;
    list-style: none;
    ul {
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0; /* Remove padding */
        margin: 20px 5px 0px 5px; /* Remove margins */

        .currentPageLink {            
            &::after {
                width: 100% !important;
            }
        }

        li {
            list-style-type: none; /* Remove bullets */
            padding: 0; /* Remove padding */
            margin: 5px; /* Remove margins */
            color: $mainColor;
            text-align: center;
            transition: color 0.3s linear;
            cursor: pointer;
            position: relative;
            vertical-align: middle;
            &:not(:last-child) {
                &::after {
                    position: absolute;
                    bottom: 2px;
                    left: 0;
                    content: "";
                    width: 0%;
                    height: 3px;
                    background: $mainColor;
                    transition: width 0.2s linear;
                }

                &:hover {
                    //color: white;
                    &::after {
                        width: 100%;
                        //background: white;
                    }
                }
            }

            &:last-child {
                display: flex;
                flex-wrap: nowrap;
                flex-direction: row;
                .icon {
                    height: 30px;
                    width: auto;
                    padding-right: 5px;
                }
                span{
                    height: 100%;
                }
                &:hover {
                    color: white;
                }
            }
        }
    }
}