@import '../../styles/global';

.container {
    color: $mainColor;
    animation: fadeIn 0.3s linear forwards;
    text-align: center;
    margin-right: 20vw;
    margin-left: 20vw;
    margin-top: 15vh;
    font-size: 1.6em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    h1 {
        flex-grow: 1;
        //font-weight: bold;
        //font-size: large;
    }
    a {
        flex-grow: 1;
        font-weight: bold;
        transition: font-size 0.2s linear;
        margin-right: 5px;
        padding: 6px;
        cursor: pointer;

        &:hover, &:visited, &:link, &:active {
            color: $mainColor;
            text-decoration: none;
        }
    }
    .icon {
        cursor: pointer;
        &:active {
            color: white;
        }
    }
    p{
        flex-grow: 1;
        font-weight: bold;
        margin: 15px 0px;
        height: 30px;
        overflow: visible;
        &:hover {
            font-size: 1.2em;
        }
    }

}

@media (max-width: 900px){
    .container{
        margin-right: 10vw;
        margin-left: 10vw;
    }
}

@media (max-width: 500px){
    .container{
        font-size: 1.2em;
        margin-right: 5vw;
        margin-left: 5vw;
    }
}

@media (max-height: 500px){
    .container{
        margin-top: 10vh;
        h1 {
            margin: 5px 0px;
        }
        p {
            margin: 5px 0px;
        }
    }
}

@media (max-height: 400px){
    .container{
        font-size: 1.2em;
    }
}

@media (max-height: 400px){
    .container{
        font-size: 1.2em;
    }
}

@media (max-height: 300px){
    .container{
        font-size: 1em;
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}