.homepageContainer {
    width: 100vw;
    height: 100vh;
    background: transparent;

    .threeSceneContainer {
        position: fixed;
        overflow: hidden;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .webContent {
        position: fixed;
        overflow: hidden;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        .pageContent{
            flex-grow: 1;
            height: 0px;
            overflow-x: hidden;
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 0.6em;
            }
            &::-webkit-scrollbar-thumb {
                background-color: rgb(236, 188, 54);
                border-radius: 15px;
            }
        }
        .githubLink {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
    }
}
