@import '../../styles/global';

.container {
  color: $mainColor;
  animation: fadeIn 0.3s linear forwards;

  .timelineContainer {
    //margin: 200px 0 0 500px;
    width: 40%;
    margin: auto;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }
}