@import '../../styles/global';

.container {
    color: $mainColor;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .skillSection{
        padding: 80px 80px 0px 80px;
        width: 350px;
    }

}