.skillContent{
    display: flex;
    flex-direction: row;
    padding: 10px;
    transition: all 0.3s ease-out;
    .skillIcon{
        height: 3em;
        width: 3em;
        margin-right: 10px;
    }
    .titleAndStars{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        h3 {
            font-size: 0.8em;
            margin: 0;
            padding: 0;
        }
        .scoreContainer {
            vertical-align: middle;
            flex-grow: 1;
            svg {
                height: 100%;
                width: 1.2em;
                margin: auto;
            }
        }
    }
    &:hover{
        transform: scale(1.2);
        color: rgb(238, 211, 138);;
    }
}