@import '../../styles/global';
.skillContent{
    display: flex;
    flex-direction: row;
    padding: 10px;
    transition: all 0.3s ease-out;
    color: $mainColor;
    width: 100%;
    overflow-x: visible;
    cursor: default;
    .skillIcon{
        height: 3em;
        width: 3em;
        min-width: 3em;
        margin-right: 10px;
    }
    .titleAndStars{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        white-space: nowrap;
        h3 {
            transition: 0.2s all 0.2s ease-out, color 0.2s ease-out;
            font-size: 1em;
            margin: 0;
            padding: 0;
        }
        .scoreContainer {
            vertical-align: middle;
            flex-grow: 1;
            svg {
                height: 100%;
                width: 1.2em;
                margin: auto;
            }
        }
    }
    &:hover{
        transform: scale(1.2);
        color: $mainColorLight;
        h3 {
            font-size: 1.4em;
        }
    }
}
